<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume Form</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div><% if(locals.message){ %> <% locals.message %> <% } %></div>
    <h1>Resume Form</h1>
    <!--here it was /submit-->
    <form action="http://localhost:3000/submit" method="post">
      <!-- personal Info -->
      <div class="info">
        <h2>Personal Information</h2>
        <label for="name">Name</label><br />
        <input type="text" name="name" class="name" id="name" /><br /><br />
        <div class="expBox">
          <div class="expInfo">
            <label for="expert">Expertise</label><br />
            <input
              type="text"
              name="expert[]"
              class="expert"
              id="expert"
            /><br /><br />

            <button name="addExpertise" type="button">Add Expertise</button>
          </div>
        </div>
      </div>
      <!-- contact -->

      <div class="contact">
        <h2>Contact Information</h2>
        <label for="phone">Enter phone number</label><br />
        <input type="text" name="phone" id="phone" /><br /><br />
        <label for="email">Enter email</label><br />
        <input type="email" name="email" id="email" /><br /><br />
        <label for="webiste">Enter webiste</label><br />
        <input type="text" name="website" id="webiste" /><br /><br />
        <label for="linkedin">Enter linkedin</label><br />
        <input type="text" name="linkedin" id="linkedin" /><br /><br />
        <label for="address">Enter address</label><br />
        <input type="text" name="address" id="address" /><br /><br />
      </div>

      <!-- education -->
      <div class="educationBox">
        <div class="eduinfo">
          <h2>Education</h2>
          <label for="degree">Degree</label><br />
          <input type="text" name="degree[]" id="degree" /><br /><br />
          <label for="start">Start year</label><br />
          <input type="text" name="start[]" id="start" /><br /><br />
          <label for="end">End Year</label><br />
          <input type="text" name="end[]" id="end" /><br /><br />
          <label for="uni">University name</label><br />
          <input type="text" name="uni[]" id="uni" /><br /><br />
          <button name="addEdu" type="button">Add Education</button>
        </div>
      </div>

      <!-- language -->
      <div class="language">
        <label for="name">language</label>
        <input type="text" name="lanname[]" /><br />
        Enter percentage of Expertise
        <input type="text" name="lanper[]" /><br /><br />
        <button name="addlng" type="button">Add language</button>
      </div>

      <!-- brief -->
      <div class="briefintro">
        <label for="intro">Provide brief Information about yourself</label>
        <textarea name="briefintro" id="briefintro"></textarea><br /><br />
      </div>

      <!-- experience -->
      <div class="experienceBox">
        <div class="experience">
          <label for="experience">Experience</label>
          Enter start Year:
          <input type="text" name="ex-start[]" />
          Enter end Year:
          <input type="text" name="ex-end[]" />
          Enter company name:
          <input type="text" name="cname[]" />
          Enter job-role:
          <input type="text" name="job-role[]" />
          Enter job description
          <textarea name="job-des[]"></textarea><br /><br />

          <button type="button" name="addExperience">Add Experience</button
          ><br /><br />
        </div>
      </div>

      <!-- skills -->
      <div class="skillBox">
        <div class="skills">
          Enter Skill name:
          <input type="text" name="skill-name[]" />
          Enter percentage of Expertise
          <input type="text" name="skill-per[]" />
          <button type="button" name="addSkill">Add Skill</button>
        </div>
      </div>

      <button type="submit" value="submit">submit</button>
    </form>

    <script src="script.js"></script>
  </body>
</html>
