<h1ml>
  <body>
    <% if(locals.err) { %>
    <div class="container mt-10">
      <div class="alert alert-danger" role="alert"><%= locals.err %></div>
    </div>
    <% } %>
    <ul>
      <li><a href="/getData/template1">Template1</a></li>
      <li><a href="/getData/template2">Template2</a></li>
    </ul>
  </body>
</h1ml>
