<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <%-include("./partials/head") %>
    </head>
</head>
<body>
<div class="container mt-10">
  <%  if(locals.err) { %>
    <div class="container mt-10">
  <div class="alert alert-danger" role="alert">
    <%= locals.err %>
  </div>
</div>
 <% } %> 
  <div>
        <form method="post" action="/user/signIn"> 
            <div class="mb-3">
              <label for="email1" class="form-label" >Email address</label>
              <input type="email" class="form-control" id="email" name="email" >
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>  
    </div>

</div>
 
  
</body>

<%-include("./partials/script") %>
</html>